<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}">Reset hasła na Lodomaniaku</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.reset.greeting(${user.username})}">
    Drogi
</p>
<p th:text="#{email.reset.text1}">
    Dla twojego konta na lodomaniaku zostało wysłane żądanie o reset hasła, kliknij poniższy link aby kontynuować:
</p>
<p>
    <a th:href="@{|${baseUrl}/account/password-reset/finish?key=${user.resetKey}|}"
       th:text="@{|${baseUrl}/account/password-reset/finish?key=${user.resetKey}|}">Reset Link</a>
</p>
<p>
    <span th:text="#{email.reset.text2}">Pozdrawiamy, </span>
    <br/>
    <em th:text="#{email.signature}">Zespół Lodomaniaka.</em>
</p>
</body>
</html>
